/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	background: black;
	line-height: 1;
	color: white;
	position: relative;
	font-family: Avenir, Tahoma, Helvetica, Arial;
}
ol, ul {
	list-style: none;
}

a {
	text-decoration: none;
}
a:hover {
	color: white;
}
a:visited {
	color: white;
}
h3 {
	cursor: pointer;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

xmp {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
	tab-size: 2;
}

.brick {
	background: gray;
	float: left;
	color: white;
}

.brick .cover {
	overflow: hidden;
	margin: 20px;
}

.size11 {
	height: 150px;
	width: 150px;
}

.size12 {
	width: 150px;
	height: 300px;
}

.size21 {
	width: 300px;
	height: 150px;
}

.size22 {
	height: 300px;
	width: 300px;
}

.size13 {
	width: 150px;
	height: 450px;
}

.size23 {
	width: 300px;
	height: 450px;
}

.size32 {
	width: 450px;
	height: 300px;
}

.size34 {
	width: 450px;
	height: 600px;
}

.free-wall {
	position: relative;
	margin: auto;
}

.brick .desc {
	display: none;
}

.open .desc {
	display: block;
}

.example .cell {
	background: white;
	position: absolute;
}

@keyframes start {
	from {
		-webkit-transform:rotate(3600deg) scale(12);
		opacity: 0;
	}
	to {
		-webkit-transform:rotate(0deg) scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes start {
	from {
		-webkit-transform:rotate(3600deg) scale(12);
		opacity: 0;
	}
	to {
		-webkit-transform:rotate(0deg) scale(1);
		opacity: 1;
	}
}

.free-wall[data-state="start"] .brick {
	-webkit-animation: start 1s;
	-moz-animation: start 1s;
}

.free-wall[data-state="transfrom"] .brick {
    -webkit-transition: top 1s, left 1s, width 1s, height 1s, opacity 1s;
    -moz-transition: top 1s, left 1s, width 1s, height 1s, opacity 1s;
    -o-transition: top 1s, left 1s, width 1s, height 1s, opacity 1s;
    transition: top 1s, left 1s, width 1s, height 1s, opacity 1s;
}

