html {
	height: 100%;
}
body {
	padding: 10px;
	height: 100%;
}

.header {
	height: 100%;
	float: left;
	position: relative;
	width: 200px;
	border: 0;
	padding: 0 15px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
}

.header:after {
	position: static;
	height: 0;
	width: 0;
}

.free-wall {
	left: 240px;
}

h2 {
	line-height: 30px;
}